<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>twitterConsumerKey</key>
	<string>959Dy74uIdNd9n3otCGq6U9qf</string>
	<key>twitterConsumerSecret</key>
	<string>bN19rPHPWwDxGcOrXULAPakqvByX7TLfETe2t1kpGo7DH6kLni</string>
</dict>
</plist>
